@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    width: screen;
  }

  body {
    width: 100vw;
    min-height: 100svh;
    @apply bg-gradient-to-b from-zinc-100 to-zinc-50;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
