@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    width: 100vw;
    min-height: 100vh;
    @apply bg-gradient-to-b from-zinc-50 to-zinc-100;
  }

  body {
    @apply max-w-[450px] mx-auto shadow-2xl;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
